@import 'tailwindcss';

@theme {
  --animate-shimmer: shimmer 10s linear infinite;

  @keyframes shimmer {
    0% {
      background-position: 300% 0;
    }

    100% {
      background-position: -300% 0;
    }
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root {
  background-color: black;
  color: white;
}

.fancy {
  --offset: 1px;
  overflow: hidden;
}

/* Linear gradient */
.fancy::before {
  content: "";
  background: linear-gradient(90deg,
      rgba(0, 212, 255, 0) 80%,
      rgba(255, 255, 255, 1) 100%);
  position: absolute;
  top: 50%;
  left: -150%;
  aspect-ratio: 1;
  width: 100%;
  animation: rotate 2s linear infinite;
}

/* Overlay */
.fancy::after {
  content: "";
  background: inherit;
  border-radius: inherit;
  position: absolute;
  inset: var(--offset);
  height: calc(100% - 2 * var(--offset));
  width: calc(100% - 2 * var(--offset));
}

.fancy input {
  background: transparent;
  color: white;
  font-size: 1.5rem;
  position: absolute;
  inset: 0;
  z-index: 10;
  padding: 1.5rem;
}

@keyframes rotate {
  from {
    transform: translate(0%, -50%) scale(1.4);
  }

  to {
    transform: translate(150%, -50%) scale(1.4);
  }
}

.card_flip {
  transform: rotateY(180deg);
}

.shape {
  width: 300px;
  height: 50px;
  clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
}

@keyframes particle {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -50%) translate(var(--tw-translate-x), var(--tw-translate-y)) scale(var(--tw-scale-x));
    opacity: 0;
  }
}

.animate-particle {
  animation: particle 700ms ease-out forwards;
}